opencv-python>=4.1.0.25
torchsummary==1.5.1
numpy>=1.15.4
pandas>=0.23.4
albumentations==0.5.2
tqdm>=4.28.1
onnx==1.7.0
onnxruntime==1.5.2
onnx-simplifier==0.2.18
scikit_image>=0.14.2
requests==2.21.0
pytest==6.2.1
timm>=0.4.9
